.map-main-container {
    background-color: #e27650;
    width: 100vw;
    height: 100vh;
}
.mapBg {
   width: 3908px;
   height: 1954px;
}
.map-container {
    width: 3908px;
    height: 1954px;
 }
 .map-land-image {
    position: absolute;
    object-fit: cover;
    z-index: 2;
 }

 .map-active-layer {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  z-index: 3;
  
 }